.navbar{
    padding-right: 20px;
    width:100vw; 
    background-color: #ADB283 !important;
}
.btn{
    border-color: black;
    background-color: #b2a783;
    color: black;
    opacity: 0.8;
    margin-left: 4px;
    border-radius: 7px;
}
.btn:hover{
    border-color: gray;
    background-color:#ADB283;
    color:black;
    opacity: 0.9;
}

